<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Practice Problems</title>

	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

	<link type="text/css" rel="stylesheet" href="index.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body ng-app="pp-app">

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://github.com/lopezton/practice-problems">Practice Problems</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="#about">About</a>
					</li>
					<li>
						<a href="#contribute">Contribute</a>
					</li>
					<li>
						<a href="#problems">Problems</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div id="about" class="container">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">About</h1>
				<p>
					This page is dedicated to the collection and provision of software practice problems. The problems
					provided here are maintained through the open source project at
					<a>http://github.com/lopezton/practice-problems</a>. These problems are great for exposure, review, and
					general software engineering education.
				</p>
			</div>
		</div>

		<div id="contribute" class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Contribute</h1>
				<p>Want to contribute a problem?</p>

				<p>
					Sweet! We want to see your problems here, too. Please see the <a href="">Contribution Guidelines</a>
					section at <a>http://github.com/lopezton/practice-problems</a> to publish your practice problem to this
					site.
				</p>
			</div>
		</div>

		<div id="problems" class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Problems</h1>
			</div>
		</div>

		<div class="row" ng-controller="problemsCtrl">
			<uib-tabset id="problems-tabs" active="activeJustified" justified="true">

				<uib-tab heading="all">

					<div class="row">
						<div class="col-md-4 portfolio-item" ng-repeat="problem in allProblems">
							<a href="#">
								<img class="img-responsive" ng-src="{{problem.thumbnailUrl}}" alt="">
							</a>
							<h3>
								<a href="#">{{problem.title}}</a>
							</h3>
							<p>{{problem.description}}</p>
						</div>
					</div>

				</uib-tab>

				<uib-tab ng-repeat="(category, problems) in problemsByCategory" heading="{{category}}">

					<div class="row">
						<div class="col-md-4 portfolio-item" ng-repeat="problem in problems">
							<a href="#">
								<img class="img-responsive" ng-src="{{problem.thumbnailUrl}}" alt="">
							</a>
							<h3>
								<a href="#">{{problem.title}}</a>
							</h3>
							<p>{{problem.description}}</p>
						</div>
					</div>

				</uib-tab>
			</uib-tabset>
		</div>

		<hr>

		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Practice Problems 2016</p>
				</div>
			</div>
			<!-- /.row -->
		</footer>

	</div>
	<!-- /.container -->

	<script src="vendor/angular.min.js"></script>
	<script src="vendor/ui-bootstrap.min.js"></script>

	<script src="app.js"></script>

	<script src="controllers/ProblemsController.js"></script>

	<script src="services/ProblemService.js"></script>
</body>
</html>